/* The code below makes the background of the header black and the font color of the title white. Change this to match what you want for your website. */
header {
    background-color: black;
    color: white;
    padding: 25px 16px;
}
.image {height: 200px;
width: 300px;
}
.button {padding-left: 600px;}
.top2 { padding-left 600px;
padding-bottom:20px}
.img { height:200px;
width: 360px}